<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <ul>
        <li><a href="/">root</a></li>
        <li><a href="/about">about</a></li>
    </ul>
    <p>This is the {{ name }} page.</p>
    <form action="/about" method="post">
        <input type="hidden" name="my-hidden-name" value="my-hidden-value" />
        <input type="submit" name="my-submit-name" value="my-submit-value" />
    </form>
</body>

</html>